<div ng-show="status==='LOADING'">
	<i class="fa fa-spinner fa-pulse"></i>
	<span>
		Loading a random solved board...
	</span>
</div>

<div ng-show="status==='NO_BOARD'">
	<i class="fa fa-frown-o"></i>
	<span>
		Couldn't find any boards... <a href="/#/archive" style="color: #0081FF;">Submit one!</a>
	</span>
</div>

<a href="/#/board/{{ workid }}" ng-show="status==='DONE'">
	<svg class="board-svg">
		<!-- grid -->
		<line ng-repeat="line in horizontalLines.concat(verticalLines)" 
			ng-attr-x1="{{ line.x1 }}" ng-attr-y1="{{ line.y1 }}" 
			ng-attr-x2="{{ line.x2 }}" ng-attr-y2="{{ line.y2 }}" stroke="black"/>

		<!-- cells -->
		<rect ng-repeat="c in cells"
			ng-attr-x="{{ c.x }}" ng-attr-y="{{ c.y }}" ng-attr-width="{{ c.width }}" ng-attr-height="{{ c.height }}" fill="{{ c.fill }}"/>
	</svg>
</a>
</div>
