- size = if local_assigns.has_key?(:size) then size else nil end
- board_class = if size then "board-#{size}" else nil end
- show_constraints = if local_assigns.has_key?(:show_constraints) then show_constraints else nil end
- show_gridboxes = if local_assigns.has_key?(:show_gridboxes) then show_gridboxes else nil end
- tooltips = true if ["tiny", "small"].include? size

%table.board.center
  - if show_constraints
    %tr.board-line{ class: board_class }
      %td
      - board.columns_constraints.each do |cons|
        %td.board-column-consts-cell
          - if tooltips
            - tooltip_text = cons.join("<br/>")
            %span.const-tooltip.fa.fa-chevron-down{ 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'title' => tooltip_text }
          - else
            - cons.each do |num|
              %div.column-consts-cell
                = num

  - grid_boxes_class = if show_gridboxes then "grid-boxes" else nil end
  - board.matrix.each_with_index do |line, i|
    %tr.board-line{ class: [board_class, grid_boxes_class] }
      - if show_constraints
        %td.board-row-consts-cell
          - if tooltips
            - tooltip_text = board.rows_constraints[i].join(" ")
            %span.const-tooltip.fa.fa-chevron-right{ 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => tooltip_text }
          - else
            - board.rows_constraints[i].reverse.each do |num|
              %span.row-consts-cell
                = num

      - line.each do |cell|
        %td.board-cell{ class: grid_boxes_class, style: "background-color: rgba(0,0,0,#{cell})" }


:javascript
    $(document).ready( function() {
      $('.const-tooltip').tooltip({'html': true});
    } );
