<div class="row">
	<div class="col-xs-12">
		<h1>A Griddlers Ninja?!</h1>
		<article>
			<p>
				Yes. A ninja. And it's new version is a ninja that doesn't cost me much!
			</p>
			<p>
				I like solving griddlers puzzles. 	In one of those times, when my board was half-ready, I though it could be nice to visualize the
				probability of each cell to be a black/white and that it shouldn't 
				be that difficult to do in python. From there, I just added some more features until I got a server that solves griddlers puzzles and 
				potentially can do it using different algorithms.
			</p>
			<p>
				The algorithm that is currently implemented is a naive one. By 'naive' I mean it basically does what you do when you solve it by hand. It iterates over all rows and columns and tries to find certain cells that it can either color black or white. Then, this information helps the next iteration to color some more until the board is solved. I'm using this technique and not trying to go for more efficient algorithms because my main reason for doing this was to visualize each cell probabilities 
				as we solve the board. Another reason, of course, is that the naive algorithm is pretty easy to implement...
			</p>
			<p>
				This website used to be a Ruby-on-Rails application, running on my free-tier t1.micro machine in AWS. However, when my free tier was about to end, I didn't want to pay the fees for a constantly running server and redesigned the app to be (almost) complete serverless. If you are techie, you can read about it <a href="http://zachmoshe.com/2015/07/29/griddlers-ninja-serverless-architecture.html" analytics-on="click" analytics-event="Refer" analytics-category="zachmoshe.com" analytics-label="from about page">in my blog.</a>
			</p>
			<p>
				For questions/suggestions - feel free to reach out with one of the social buttons at the top.
			</p>
		</article>
	</div>
</div>