<!-- Main board panel with charts and the grid itself -->
<button class="btn btn-primary" ng-click="setWorkId(1)">Load workId 1</button>
<button class="btn btn-primary" ng-click="setWorkId(2)">Load workId 2</button>

<div class="row board-panel">
	
	<!-- The charts -->
	<div class="col-xs-4 col-xs-offset-2">
		<canvas id="iterationsChart" class="chart chart-line pull-right" 
				data="chart.dataSeries" 
				labels="chart.labels" 
				series="chart.series"
				options="chart.options"
				colours="chart.colors"
				legend="true"
				height="220em"
				></canvas>      
	</div>

	<!-- Grid plus prev/next buttons and progress bar -->
	<div class="col-xs-4">
		<div class="row">
			
			<div class="col-xs-12">
				<div class="board-table pull-left" ng-show="ready()">
					<div ng-repeat="row in iter.board.matrix track by $index" class="board-row">
						<div ng-repeat="prob in row track by $index" class="board-cell" style="background-color: hsl(0,0%,{{100-prob*100}}%)">
						</div>
					</div>

					<div>
						<div class="btn btn-sm btn-primary pull-left" ng-click="prevIter()"><span class="glyphicon glyphicon-chevron-left"></span></div>
						<div class="btn btn-sm btn-primary pull-right" ng-click="nextIter()"><span class="glyphicon glyphicon-chevron-right"></span></div>
						<div class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-play"></span></div>

						<div class="progress board-progressbar">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ iterPct() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ iterPct() }}%;">
								<span class="sr-only">Iteration #{{ iter.iteration_number }}</span>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>

