<script type="text/ng-template" id="submitModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Submit board: {{ board.name }}</h3>
	</div>
	<div class="modal-body">
		<p>Choose algorithm:</p>
		<div class="radio">
			<label>
				<input type="radio" ng-model="strategy.name" value="naive"
					analytics-on="click" analytics-event="Click" analytics-category="SubmitBoardAlgorithmChoose" analytics-label="naive">
				Naive
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" ng-model="strategy.name" value="naive-probs" checked
					analytics-on="click" analytics-event="Click" analytics-category="SubmitBoardAlgorithmChoose" analytics-label="naive-probs">
				Naive Probs
			</label>
		</div>
		<hr/>
		<p>Strategy options:</p>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="strategy.speedy"
					analytics-on="click" analytics-event="Click" analytics-category="SubmitBoardAlgorithmChoose" analytics-label="speedy">
				Speedy?
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="submit()"
			analytics-on="click" analytics-event="Click" analytics-category="SubmitBoard" analytics-label="submit">
			Submit
		</button>
		<button class="btn btn-warning" ng-click="cancel()" 
			analytics-on="click" analytics-event="Click" analytics-category="SubmitBoard" analytics-label="cancel">
			Cancel
		</button>
	</div>
</script>


<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Boards Archive</h1>
		<article>
			<p>
				Here you can find some boards that someone else had solved (that's why you can see the image) and submit them to the Ninja's queue. The board might already be solved, but the probabilities visualisation is unique to the Ninja!
			</p>
			<p>
				Depending on the board's size, the solving process might take some time. Since I don't constantly run a server anymore, it will take even longer
				as AWS needs to spin a machine for me. And if that wasn't enough, I use <a href="http://aws.amazon.com/ec2/purchasing-options/spot-instances/">spot instances</a>, so if there is high demand, my server won't start at all. But don't let that break your spirit - go ahead and submit a board!
			</p>
		</article>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-md-2"	ng-repeat="board in boards">
		
		<div class="archive-board-panel">
			<div class="archive-board-name">{{ board.name }}</div>
			
			<img class="archive-image" 
				ng-attr-src="{{ board.svg }}" 
				ng-click="openSubmitWindow(board)"
				analytics-on="click" analytics-event="Click" analytics-category="ArchivedBoard" analytics-label="{{ board.name }}"
				ng-if="currentlySubmitting !== board.name"></img>

			<div class="archive-loading-icon archive-image"
				ng-if="currentlySubmitting === board.name">
				<span class="glyphicon glyphicon-refresh glyphicon-spin-animate gi-5x"></span>
			</div>

			<div class="archive-credit-text">
				<span>Credit: </span>
				<a ng-if="board.creditUrl" href="{{ board.creditUrl }}">{{ board.creditText }}</a>
				<span ng-if="!board.creditUrl">{{ board.creditText }}</span>
			</div>

		</div>

		
	</div>
</div>