@import "variables";

.archive-credit-text { 
	color: white;
	text-align: right;
	text-shadow: 0px 0px 1px;
}

.archive-image { 
	max-width: 100%;
	height: 200px;
	line-height: 200px;
	background-color: rgba(255,255,255,0.6);
}

.archive-board-panel {
	padding: 0.5em;
	border: 1px solid $orange;
	border-radius: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}

.archive-board-name { 
	text-transform: capitalize;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ff6b00;
	margin-bottom: 1em;
	color: #ff6b00;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	text-shadow: 0px 0px 3px black;
}

.archive-loading-icon { 
	vertical-align: middle;
	text-align: center;
}
