
.board-panel > *[class^='col-xs-'] { 
  padding: 0px;
}

.board-panel-grid-buttons { 
  display: inline-block; 
  width: auto;
}

.board-progressbar { 
  overflow: hidden;
  width: auto;
  height: 30px;
}

.board-loading-icon { 
  line-height: 10em;
  vertical-align: middle;
  text-align: center;
}

.board-panel-status-text { 
	font-size: 2em;
}