body {
  padding-bottom: 70px;
}

.with-top-margin{
  margin-top: 40px;
}

.bottom-navbar-cell {

  i {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.bottom-navbar {
  border-top: 10px solid darkgray;
  padding: 10px 20px 10px 20px;
}

.bottom-navbar-text-cell {
  color: #2871B4;
}


.header-row {
  border-bottom: 10px solid darkgray;

  .jumbotron {
    margin-bottom: 0px;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
  }
}

.header-home-link:hover {
  text-decoration: none;
}

.main-content-row {
  padding: 30px;
}

.face-and-social{
  .header-social-icons, .header-face-image {
    display: inline-block;
    vertical-align: top;
  }

  .header-face-image {
    font-family: Handlee;
    font-size: 20px;
  }

  img {
    margin: 0px 0px 3px auto;
    display: block;
   }

  .header-social-icons {
    padding-top: 5px;
    margin-left: 7px;

    i {
      margin-bottom: 2px;
      display: block;
    }
    a:hover {
      text-decoration: none;
    }

    i.fa-facebook{ color: #3b5998}
    i.fa-linkedin{ color: #007BB6}
    i.fa-github{ color: black }
    i.fa-stack-overflow{ color: #fe7a15 }
    i.fa-envelope{ color: darkslategray }
  }
}

.alert-row {
  .alert {
    text-align: center;
  }
}