.row
  .col-xs-12
    .h2.solver-header Come on! solve this board!

    %p.large
      To choose a color, either click its button or press the number associated with it.
      Click a cell to color it, or click and drag to color many cells at once.
      If you want to guess a cell, use the 'guess black' and 'guess white' colors which has the
      convenient buttons that clear them or make them permanent.

.row.with-top-margin
  .col-xs-3
    .stopwatch-panel
      .btn-group
        .btn.btn-default{ onclick: 'stopwatchPlayClicked()' }
          %i.fa.fa-2x.fa-play
        .btn.btn-default{ onclick: 'stopwatchPauseClicked()' }
          %i.fa.fa-2x.fa-pause
      %span#stopwatch{ seconds: 0 }

  .col-xs-9
    .btn-group.solver-buttons-panel
      .board-solver-color.btn.btn-default.btn-primary{ type: :black, onclick: 'colorChoose(this)' } BLACK (1)
      .board-solver-color.btn.btn-default{ type: :white, onclick: 'colorChoose(this)' } WHITE (2)
      .board-solver-color.btn.btn-default{ type: 'guess-black', onclick: 'colorChoose(this)' } GUESS BLACK (3)
      .board-solver-color.btn.btn-default{ type: 'guess-white', onclick: 'colorChoose(this)' } GUESS WHITE (4)
      .board-solver-color.btn.btn-default{ type: :unknown, onclick: 'colorChoose(this)' } UNKNOWN (0)

    .btn-group.solver-buttons-panel
      %li.btn.btn-primary{ onclick: 'clearGuesses()' } Clear Guesses
      %li.btn.btn-primary{ onclick: 'makeGuessesPermanent()' } Make Guesses Permanent


.row
  .col-xs-12
    .noselect
      = render 'common/board', board: @board[:board], show_constraints: true, show_gridboxes: true
      %boarddata{ style: 'display: none;', board_id: @board[:id], row_constraints: JSON.dump(@board[:board].rows_constraints), column_constraints: JSON.dump(@board[:board].columns_constraints) }

:javascript
  b = $(".board")
  initializeBoard(b)