.container-fluid
  - first_row, other_rows = @all_boards[0...4], @all_boards[4...-1].each_slice(6)

  .row
    .col-xs-4
      = render 'common/board_submit_form', boards_class: 'board_panel', board_origin: @board_origin, type: 'preparsed'

    - first_row.each do |board|
      = render 'board_panel', board: board

  - other_rows.each do |board_row|
    .row
      - board_row.each do |board|
        = render 'board_panel', board: board